.hamburger-menu {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

.menu-list {
  background-color: red;
  display: flex;
  flex-direction: column;
  display: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
}
