*, ** {
  box-sizing: border-box;
  margin: 0;
  /* min-width: 320px; */
}

/* html {
  min-width: 320px;
} */

body {
  background-color: rgb(207,222,187);
  margin: 0;
}
nav {
  font-family: 'Roboto', sans-serif;
  /* height: 25vh; */
}

h1 {
  color: rgb(244,179,147);
}

.hamburger-menu-container {
  padding-left: 2rem;
  /* width: 100%; */
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: rgb(87,77,106);
  min-width: 320px;
}

.main-title {
  /* padding-left: 1rem; */
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 1.3px;
  width: 100%;
  text-align: center;
  min-width: 284px;
  font-size: 4vw;
}

.menu-list-desktop {
  display: none;
}

.menu-list-mobile {
  background-color: white;
  display: flex;
  flex-direction: column;
  display: absolute;
  top: 100%;
  left: 0;
  width: 40%;
  z-index: 1;
  box-shadow: 5px 4px 9px rgb(87,77,106);
}

.menu-list-mobile a {
  padding: .8rem 2.2rem;
  border-bottom: 1px solid rgba(87,77,106, .5);
  text-decoration: none;
  color: black;
}

.resource-container {
  /* text-align: center;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  /* min-width: 320px; */
}

.tile {
  background-color: rgb(87,77,106);
  width: 50%;
  height: 50%;
  padding: 2rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  min-height: 190px;
}

.resource-title {
  font-size: max(20px, 3.5vw);
  color: rgb(254,221,197);
  letter-spacing: 2px;
}

.resource-description {
  color: white;
}

a {
  color: white;
}

/* Media query for tablets */
@media only screen and (min-width: 603px){


  .main-title {
    height: 1vh;
  }

  .resource-title {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .resource-container {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    margin: 30px;
  }

  .tile {
    margin: 1vw;
  }
}

/* Media query for desktops */
@media only screen and (min-width: 1024px){
  .tile {
    margin: 2rem;
    width: 35%;
  }

  nav {
    background-color: rgb(87,77,106);
    text-transform: uppercase;
    height: 20vh;
  }

  .logo {
    height: 5vh;
    /* position: fixed; */
  }

  .hamburger-menu-container {
    justify-content: center;
  }

  .hamburger-menu-container > div {
    display: none;
  }

  .menu-list-desktop {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .menu-list-desktop a {
    text-decoration: none;
  }
}
